/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASIC STYLING */
body,
html {
  background: rgb(25, 26, 25);
  color: rgb(238, 229, 229);
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  /* border-bottom: 2px solid #fff; */
  margin: 0.5rem;
  color: #8fc866;
}

ul {
  list-style: none;
}

p {
  font-size: 2rem;
  margin: 1rem;
}

a {
  text-decoration: none;
  color: rgba(177, 140, 140, 0.438);
  cursor: pointer;
}

a:hover {
  color: #8fc866;
  transition: 0.1s ease-in;
}

input {
  margin: 0.5rem;
  padding: 5px;
  border-radius: 3px;
  border: none;
  outline: none;
}


.buttons {
  text-align: center;
}

button {
  border: none;
  border-radius: 3px;
  font: inherit;
  font-size: 1.2rem;
  line-height: 1;
  margin: 1rem 0.5rem;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
  box-shadow: 0px 3px 4px 1px;
  font-weight: 600;
  background-color: #8fc866;
  outline: none;
}

/* Button effects */
.down:hover {
  box-shadow: 0px 2px 1px 1px;
  transition: all 0.2s ease-in-out;
  transform: translateY(1px);
  background-color: #7daf5a;

}

.nimi {
  color: #8fc866;
  font-style: inherit;
}

/********************* NAVIGATION *************************/
#navigation {
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 50%;
  min-width: 500px;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0rem;
  margin-bottom: 1.5rem;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  box-shadow: 0px 0px 52px -10px rgba(0,0,0,0.47);
  border-bottom: 5px solid rgba(0, 0, 0, 0.198);
}


.link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.link-list-item {
  font-size: 1.7rem;
  padding: 1rem 2rem 1rem 2rem;
  font-weight: bold;
  white-space: nowrap;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:after {
  content: "";
  display: block;
  position: absolute;
  top: 6.2rem;
  border: 1px ridge #333;
  border-radius: 10px;
  width: 40vw;
}

.active {
  color: #8fc866;
}

/********************* NAVIGATION LOPETUS *************************/

/********************* ETUSIVU *************************/
.main-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 85%;
  
}

/********************* ETUSIVU LOPETUS *************************/


/********************* HARJOITUSKORTIT *************************/
.harjoitukset {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.harjoitus {
  color: #fff;
  background-color: #333;
  border: 3px solid rgb(29, 29, 29);
  border-style: outset;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -2px #00000078;
  margin: 10px;
  width: 40rem;
  height: 25rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/********************* HARJOITUSKORTIT LOPETUS *************************/

/********************* TEHTAVAT *************************/

/* 6.10.2020 */
/* LASKURI */
.harjoitus #vastaus {
  margin-bottom: 1rem;
  color: #8fc866;
}

#lasku1,
#lasku2 {
  font-size: 1.5rem;
}
/********************* LASKURI LOPETUS *************************/

/* 7.10.2020 */
/* MITTATILAUSTYO */
.mittatilaustyo-link {
  font-size: 3rem;
}


.icon {
  font-size: 25px;
}

/********************* MITTATILAUSTYO LOPETUS *************************/

/* 9.10.2020 */
/* LAMPOMITTARI */


.slider {
  width: 100%;
}

#heat-div {
  width: 100%;
  height: 15rem;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: 0.5s all ease-in;
}
/********************* LAMPOMITTARI LOPETUS *************************/

/* 12.10.2020 */
/* NOPPAPELI */
.noppa {
  width: 7.5rem;
  max-width: 7.5rem;
  margin: 1rem;
}
/********************* NOPPAPELI LOPETUS *************************/

/********************* FOOTER *************************/
#footer {
  text-align: center;
  font-size: 2rem;
  margin: 3rem;
  opacity: 0.1;
}

#footer span {
  margin-left: 3px;
  font-style: italic;
}
/********************* FOOTER LOPETUS *************************/

/* Fontawesome */
.icon-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

/********************* MEDIA QUERIES *************************/
/* WIDTH */
@media only screen and (max-width: 450px) {
  h1 {
    font-size: 2.5rem;
  }
  
  button {
    margin: 1rem 0.5rem;
    padding: 1.5rem 2rem;
  }
  
  input {
    margin: 0.5rem;
    padding: 5px;
  }
  
  .shortcut-link {
    padding: 1rem;
  }
  
  #navigation {
    width: 90%;
  }
  
  
  .harjoitus {
    margin: 0rem 0.5rem;
  }

  .harjoitukset {
    flex-direction: column;
  }

  .harjoitus {
    padding: 1rem;
    margin: 1rem 0rem;
    min-width: 75vw;
    min-height: 30vh;
    max-width: 90vw;
  }

  #footer {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 330px) {
  /* BASIC STYLING */
  body {
    font-size: 8px;
  }
 
  h1 {
    font-size: 2rem;
  }

  button {
    margin: 0.5rem 0.4rem;
    padding: 1.2rem 2rem;
  }

  input {
    margin: 0.5rem;
    padding: 5px;
  }

  p {
    margin: 0.5rem 1rem 1rem 1rem;
  }

  /* NAV */
  #navigation {
    width: 100%;
    border-bottom-right-radius: 10rem;
    border-bottom-left-radius: 10rem;
    margin: 0;
  }

  .link-list-item {
    font-size: 1.3rem;
    padding: 1rem;
    margin: 0;
    font-weight: bold;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #333;
  }

  /* CARDS */
  .harjoitus {
    padding: 0.5rem;
    margin: 0.5rem 0rem;
    min-width: 60vw;
    min-height: 27vh;
    max-width: 90vw;
  }

  /* FOOTER */
  #footer {
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 660px) {
  /* BASIC STYLING */
 
  h1 {
    font-size: 3rem;
  }

  button {
    margin: 1rem 0.5rem;
    padding: 1.5rem 2rem;
  }

  input {
    margin: 0.75rem;
    padding: 0.75rem;
  }

  /* NAV */
  #navigation {
    width: 80%;
  }

  .link-list-item {
    font-size: 1.7rem;
  }

  /* CARDS */

  .harjoitukset {
    flex-direction: column;
  }

  .harjoitus {
    padding: 1rem;
    margin: 0.5rem 0.4rem;
    min-width: 50vw;
    min-height: 30vh;
    max-width: 90vw;
  }
}


/* HEIGHT */
@media only screen and (max-height: 450px) {
  #navigation {
    width: 90%;
    padding: 1.5rem;
    margin-bottom: 2rem;
  }

  .harjoitus {
    padding: 1rem;
    margin: 1rem 0rem;
    min-width: 60vw;
    min-height: 30vh;
    max-width: 90vw;
  }

  #footer {
    margin-bottom: 4rem;
  }
}
/********************* MEDIA QUERIES LOPETUS *************************/



