/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASIC STYLING */
body,
html {
  background: rgb(25, 26, 25);
  color: rgb(209, 216, 209);
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
}

body {
  height: 100vh;
  width: 100vw;
}

/* BASIC ELEMENTS */
h1 {
  font-size: 4rem;
  margin: 1rem;
}

ul {
  list-style: none;
}

p {
  font-size: 2rem;
  margin: 1rem;
}

a {
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

a:hover {
  color: #fff;
  transition: 0.1s ease-in;
}

.btn {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 52px -10px rgba(0,0,0,0.47);
}

.nimi {
  color: #fff;
  font-weight: bold;
  font-style: unset;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}


/* CONTENT */

/* NAV */
#navigation {
  /* background-color: #23d1c0; */
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 85%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  box-shadow: 0px 0px 52px -10px rgba(0,0,0,0.47);
  border-bottom: 5px solid rgba(0, 0, 0, 0.198);
}

#footer span {
  margin-left: 3px;
  font-style: italic;
}
.link-list {
  display: flex;
}

.link-list-item {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #333;
}

.active {
  color: #fff;
}

/* MAIN AREA */
.main-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 1px solid red; */
  max-width: 85%;
  
}
/* FOOTER */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  font-size: 1.5rem;
  /* border: 1px solid blue; */
  margin: 1rem;
  opacity: 0.5;
}

/* Fontawesome */
.icon-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 25px;
}

/* PAGE SPECIFIC */

/* Harjoitukset */
.harjoitukset {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.harjoitus {
  color: #fff;
  background-color: #333;
  border: 3px solid rgb(29, 29, 29);
  border-style: outset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -2px #00000078;
  margin: 10px;
  min-width: 20vw;
  min-height: 10vw;
}

