/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Typography */
html {
  font-size: 10px;
  font-family: 'Arvo', sans-serif;
}

body {
  background-color: #333;
  color: white;
  height: 100vh;
}

/* Layout */
.container {
  border: 1px solid #333; /* Just to see the container size */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

i {
  margin: 1rem;
}

/* Navigation */
nav {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #1ff;
  transition: all 0.2s ease-in-out;
}

.nav-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  list-style: none;
  outline: 1px solid;
}

.nav-li {
  padding: 1rem;
  font-size: 1.5rem;
}

/* UI-elements */
.container h1, p {
  padding: 1rem;
  font-size: 3rem;
}

.container p {font-size: 2rem;}

.btn-1 {
  color: #fff;
  background-color: rgb(161, 50, 16);
  padding: 0.8rem;
  margin: 0.5rem;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  font-family: inherit;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}

button:hover {opacity: 0.8;}

#img {width: 500px;}

/* Forms */

/* Media Queries */ 
